body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    text-align: center;
    padding: 10px 0;
    color: white;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #353535;
}

h1, p {
    color: white;
    padding-left: 30px;
}

video {
    width: 640px;    
    height: 360px;
    float: left;
    margin: 10px;
    border-radius: 10px;
}


